.footer {
  height: 498px;
  margin-top: 58px;
  background-image: url(../../images/backgroundFoto/img-footer.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto;
  padding-top: 150px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 92px;
    padding-top: 0px;
    height: 627px;
    background-position: left bottom;
    background-size: 637px 314px;
    width: 768px;
  }
}
@media screen and (max-width: 430px) {
  .footer {
    width: 430px;
  }
}
.wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .wrapper-footer {
    display: block;

    margin-bottom: 0px;
  }
}
.list-footer {
  display: flex;
}
@media screen and (max-width: 768px) {
  .list-footer {
    display: block;
  }
}
.list-footer > .wrap-links > li {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 137px;
}

@media screen and (max-width: 768px) {
  .list-footer > .wrap-links > li {
    margin-right: 0px;
  }
}
.list-footer > li {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 137px;
}

.span-logo {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  color: var(--white-color);
}
@media screen and (max-width: 768px) {
  .span-logo {
    margin-bottom: 71px;

    margin-right: 52px;
  }
}

.wrap-links {
  display: flex;
}
@media screen and (max-width: 768px) {
  .wrap-links {
    display: flex;
    margin-bottom: 65px;
  }
  .wrap-links > li:first-child {
    margin-right: 100px;
  }
}

.list-footer > li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .list-footer > li:first-child {
    margin-right: 0px;

    display: flex;
  }
  .list-footer > li:last-child {
    margin-bottom: 32px;
  }
}
.list-menu > li > a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 300;
}

.iten-footer {
  margin-top: 16px;
}
.svg-address {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  fill: #b0b0b2;
}

.iten-footer > a {
  display: flex;
  align-items: center;
  justify-content: f;
}

.menu-social {
  display: flex;
}

.svg-social {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 45px;
  height: 45px;
  z-index: 2;
}
.border {
  position: relative;
  margin-right: 20px;
}
.border:last-child {
  margin-right: 0;
}
.block {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .block {
    margin-bottom: 32px;
    width: 395px;
  }
}
.block-text {
  margin-top: 32px;
}
