
.header {
  position: relative;
  top: 0;
  width: 100%;

  padding: 31px 0;
  background-image: url(../../images/backgroundFoto/background_Mobil/header_bg_mob@1x.png);
  background-repeat: no-repeat;
  background-size: auto  153px;

background-position: top right;
 
    height: 207px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header  {
    background-image: url(../../images/backgroundFoto/background_Mobil/header_bg_mob@2x.png);
      
  }
}


@media screen and (min-width: 380px) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  
    padding: 31px 0;
    background-image: url(../../images/backgroundFoto/background_Mobil/header_bg_mob@1x.png);
    background-repeat: no-repeat;
    background-size: auto  207px;
  
  
   
      height: 207px;
  }
  
 

}
@media screen and (min-width: 768px) {
  .header {
    height: 353px;
    position: relative;
    background-repeat: no-repeat;
   background-image: url(../../images/backgroundFoto/background_Desctop/heder_bg_des@1x.png);
   background-size: auto  353px;
   background-position: top right;
   
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header  {
    background-image: url(../../images/backgroundFoto/background_Desctop/heder_bg_des@2x.png);
      
  }
}

}
.list > li:nth-child(n + 2) {
  display: none;
}

@media screen and (min-width: 1200px) {
  .list {
    display: flex;
    align-items: center;
  }
  .list > li:nth-child(n + 2) {
    display: flex;
    align-items: center;
  }
}
.item-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .item-logo {
    margin-right: 241px;
    justify-content: center;
  }
}

.link {
  color: currentColor;
  display: flex;
  align-items: center;
}
.svg-logo {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1200px) {
  .item {
    margin-right: 64px;
  }
  .item:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .item-contact {
    margin-left: 204px;
    padding: 12px 24px;
  }
}
.svg-down-arrow {
  width: 12px;
  height: 12px;
}

.select-link {
  position: relative;
  z-index: 5;
  display: none;
}
.link-list {
  width: 150px;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--body-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    var(--border-color-gradient-blue),
    var(--border-color-gradient-pink)
  );
  border-image-slice: 1;
}
.item:hover .select-link {
  display: flex;
}

.link-on-page:hover {
  background: linear-gradient(
    to right,
    var(--background-color-gradient-blue),
    var(--background-color-gradient-pink)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  transform: scale(1.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  display:flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .list{
    display:flex;
  }
}