.header {
  padding: 31px 0;
}

.list > li:nth-child(n + 2) {
  display: none;
}

@media screen and (min-width: 1200px) {
  .list {
    display: flex;
    align-items: center;
  }
  .list > li:nth-child(n + 2) {
    display: flex;
    align-items: center;
  }
}
.item-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .item-logo {
    margin-right: 241px;
    justify-content: center;
  }
}

.link {
  color: currentColor;
  display: flex;
  align-items: center;
}
.svg-logo {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1200px) {
  .item {
    margin-right: 64px;
  }
  .item:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .item-contact {
    margin-left: 205px;
    padding: 12px 24px;
  }
}
.svg-down-arrow {
  width: 12px;
  height: 12px;
}

.select-link {
  position: relative;
  z-index: 5;
  display: none;
}
.link-list {
  width: 150px;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--body-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
}
.item:hover .select-link {
  display: flex;
}

.link-on-page:hover {
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  transform: scale(1.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
