.section-about-as {
  display: block;
  position: relative;
  margin-top: var(--section-margin-top-mobil);
}
@media screen and (min-width: 768px) {
  .section-about-as {
    margin-top: var(--section-margin-top);
    display: flex;
    align-items: end;
  }
}
@media screen and (min-width: 1200px) {
  .container-section-about-as {
    display: flex;
  }
}

.section-about-as-background {
  position: absolute;
  z-index: 1;
  top: 58px;
  left: -27px;
  width: 430px;
}

@media screen and (min-width: 768px) {
  .section-about-as-background {
    position: absolute;
    top: 0px;
    left: -200px;
    width: auto;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .section-about-as-background {
    top: 0px;
    left: -77px;
  }
}
.wrapper-about {
  width: 274px;
  height: 359px;
  background-color: var(--card-background);
  z-index: -2;
  position: absolute;
  top: 110px;
}

@media screen and (min-width: 768px) {
  .wrapper-about {
    top: 125px;
    width: 398px;
    height: 496px;
  }
}
.images-aboutAs {
  width: 389px;
  height: 467px;
}

@media screen and (min-width: 768px) {
  .images-aboutAs {
    width: 518px;
    height: 622px;
    z-index: 1;
  }
}
.wrpp-video-about-us {
  position: relative;
}
.wrap-aboutAs-video {
  position: absolute;
  top: 410px;
  left: 225px;
  background-color: var(--card-background);
  width: 147px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .wrap-aboutAs-video {
    top: 539px;
    left: 296px;
    width: 196px;
    height: 128px;
    z-index: 2;
  }
}
@media screen and (min-width: 1200px) {
  .wrap-aboutAs-video {
    left: 329px;
  }
}
.article-aboutUs {
  margin-left: 0;
  margin-top: 65px;
  width: auto;
}

.article-aboutUs > p {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .article-aboutUs {
    margin-left: 76px;
  }
}
.section-subtitle {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.16px;
  width: 359px;
}

@media screen and (min-width: 1200px) {
  .section-subtitle {
    margin-bottom: 12px;
    font-size: 48px;
    width: 562px;
  }
}
.section-text {
  font-size: 16px;
  color: var(--grey-color);
  margin-bottom: 24px;
  width: 403px;
}

@media screen and (min-width: 768px) {
  .section-text {
    color: var(--grey-color);
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 528px;
  }
}
.list-aboutAs {
  width: 403px;
}
@media screen and (min-width: 768px) {
  .list-aboutAs {
    width: auto;
  }
}
.item-aboutAS {
  display: flex;
  margin-bottom: 14px;
}
.item-aboutAS:last-child {
  margin-bottom: 32px;
}

.check-box {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.text-about-as {
  margin-left: 10px;
}
