.section-testimonial {
  margin-top: var(--section-margin-top-mobil);
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .section-testimonial {
    margin-top: var(--section-margin-top);
    overflow: visible;
    position: relative;
  }
}

.wrap-info {
  margin-bottom: 29px;
}
.wrap-info > p {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .wrap-info {
    position: absolute;
    top: 120px;
    left: 289px;
  }
}
.testimonial-title {
  font-size: 32px;
}
@media screen and (min-width: 430px) {
  .testimonial-title {
    font-size: 48px;
  }
}

.first-circle {
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 1200px;
  height: 1200px;
  border-radius: 100%;
  position: relative;
  animation-name: spin1;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0.63, -0.42, 0, 1.13);
  animation-iteration-count: infinite;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.first-circle:hover {
  animation: none;
}
.second-circle {
  position: absolute;
  top: 82px;
  left: 76px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 1050px;
  height: 1050px;
  border-radius: 100%;
}

.second-circle :hover {
  animation: none;
}
.third-circle {
  position: absolute;
  top: 70px;
  left: 70px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 900px;
  height: 900px;
  border-radius: 100%;
  animation-name: spin3;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.third-circle:hover {
  animation: none;
}
.fourth-circle {
  position: absolute;
  top: 92px;
  left: 90px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 700px;
  height: 700px;
  border-radius: 100%;
  animation-name: spin4;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
.fourth-circle:hover {
  animation: none;
}
.fifth-circle {
  position: absolute;
  top: 101px;
  left: 97px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 500px;
  height: 500px;
  border-radius: 100%;
  animation-name: spin8;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.sixth-circle {
  position: absolute;
  top: 86px;
  left: 86px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 320px;
  height: 320px;
  border-radius: 100%;
  animation-name: none;
}

.human-img {
  position: absolute;
  z-index: 2;
  top: -97px;
  left: -117px;
  width: 558px;
  height: auto;
  animation-name: imgs;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-iteration-count: infinite;
}
@keyframes imgs {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
.background {
  position: absolute;
  top: 230px;
  left: -43px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
.circle-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 345px;
  left: -21px;
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .circle-svg {
    top: -5px;
    left: 412px;
  }
}
.circle-svg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 119px;
  left: 608px;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .circle-svg1 {
    left: 254px;
    top: 734px;
  }
}
.circle-svg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 903px;
  left: 151px;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .circle-svg2 {
    top: 123px;
    left: 496px;
  }
}
.circle-svg3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 577px;
  left: 405px;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .circle-svg3 {
    top: 546px;
    left: 523px;
  }
}

.circle-svg4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 368px;
  left: 656px;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .circle-svg4 {
    top: 874px;
    left: 209px;
  }
}
@media screen and (max-width: 768px) {
  .circle-svg4 {
    top: 874px;
    left: 209px;
  }
  .circle-svg4 > .overlay-circle {
    top: -60px;
    left: 14px;
  }
}
.circle-svg5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 1067px;
  left: 894px;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .circle-svg5 {
    top: 1002px;
    left: 647px;
  }
}
.box-circle {
  position: relative;
}

.overlay-circle {
  position: absolute;
  top: -23px;
  left: 101px;
  width: 297px;
  height: 193px;
  padding: 18px 19px 13px 23px;

  background-image: url(../../images/images_dec/bg-coment-partners.png);
  background-size: 297px 134px;
  background-repeat: no-repeat;
  display: none;
}

@media screen and (max-width: 431px) {
  .box-circle > .overlay-information {
    position: absolute;
    top: -23px;
    left: -187px;
  }
}
@media screen and (max-width: 431px) {
  .box-circle > .overlay-third {
    position: absolute;

    top: -32px;
    left: -220px;
  }
}
@media screen and (max-width: 431px) {
  .box-circle > .overlay-first {
    position: absolute;

    top: -23px;
    left: -118px;
  }
}
.box-circle:hover .overlay-circle {
  display: flex;
}
.box-circle:hover {
  background-image: url(../../images/Bg.png),
    url(../../images/backgroundFoto/gradient_Mobil/min-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: none;
}
.underlain {
  margin: 5px 0 0 0;
  width: fit-content;
  position: relative;
}

.underlain::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
}

.wrap-text-overlay > p {
  text-align: start;
}

.gradient-circle {
  background-image: url(../../images/backgroundFoto/background-circlke.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
