.section-partners {
  margin-top: 120px;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .section-partners {
    margin-top: 220px;
    display: flex;
    flex-wrap: wrap;
  }
  .section-partners > p {
    margin: auto;
  }
}
.subtitle-pricing {
  font-size: 48px;
  margin-bottom: 58px;
  display: block;
}
@media screen and (max-width: 430px) {
  .subtitle-pricing {
    font-size: 32px;
    width: 408px;
  }
}
.container-semicircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}

@media screen and (max-width: 430px) {
  .container-semicircle {
    height: auto;
  }
}

.circle-partners {
  width: 329px;
  height: 319px;
  border-radius: 1054.919px;
  border: 2px solid rgba(255, 255, 255, 0.17);
  position: absolute;
  top: 344px;
  border-radius: 50%;
  left: 597px;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .circle-partners {
    left: 437px;
  }
}

@media screen and (max-width: 768px) {
  .circle-partners {
    left: 263px;
    width: 242px;
    height: 233px;

    top: 319px;
  }
}

@media screen and (max-width: 430px) {
  .circle-partners {
    left: 146px;
    width: 136px;
    height: 133px;
    top: 146px;
  }
}
@media screen and (max-width: 768px) {
  .background-line {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .background-line {
    width: 425px;
  }
}
.img-gamer {
  top: -185px;
  width: 672px;
  height: 512px;
  position: absolute;
  left: -178px;
}
@media screen and (max-width: 768px) {
  .img-gamer {
    top: -170px;
    width: 511px;
    height: 410px;
    left: -140px;
  }
}
@media screen and (max-width: 430px) {
  .img-gamer {
    top: -54px;
    width: 255px;
    height: 190px;
    left: -63px;
  }
}
.min-circle-partners {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.list-partner {
  position: relative;
}
.item-partner-svg {
  position: absolute;
  top: 161px;
  left: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: rgba(37, 37, 50, 0.8);
}

.item-partner-svg:nth-child(2) {
  top: -24px;
  left: 74px;
}
.item-partner-svg:nth-child(3) {
  top: -185px;
  left: 229px;
}
.item-partner-svg:nth-child(4) {
  top: -249px;
  left: 466px;
}
.item-partner-svg:nth-child(5) {
  top: -195px;
  left: 700px;
}

.item-partner-svg:nth-child(6) {
  top: -15px;
  left: 879px;
}
.item-partner-svg:nth-child(7) {
  top: 159px;
  left: 930px;
}
.svg-partner {
  width: 79px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .item-partner-svg {
    left: 31px;
    width: 41px;
    height: 41px;
  }
  .item-partner-svg:nth-child(2) {
    top: 13px;
    left: 68px;
  }
  .item-partner-svg:nth-child(3) {
    top: -105px;
    left: 166px;
  }
  .item-partner-svg:nth-child(4) {
    top: -163px;
    left: 355px;
  }
  .item-partner-svg:nth-child(5) {
    top: -111px;
    left: 554px;
  }
  .item-partner-svg:nth-child(6) {
    top: 1px;
    left: 653px;
  }
  .item-partner-svg:nth-child(7) {
    top: 157px;
    left: 694px;
  }
}

@media screen and (max-width: 430px) {
  .item-partner-svg {
    left: 9px;
    top: 78px;
  }
  .item-partner-svg:nth-child(2) {
    top: -3px;
    left: 30px;
  }
  .item-partner-svg:nth-child(3) {
    top: -67px;
    left: 83px;
  }
  .item-partner-svg:nth-child(4) {
    top: -105px;
    left: 188px;
  }
  .item-partner-svg:nth-child(5) {
    top: -80px;
    left: 289px;
  }
  .item-partner-svg:nth-child(6) {
    top: 1px;
    left: 366px;
  }
  .item-partner-svg:nth-child(7) {
    top: 82px;
    left: 381px;
  }
}
