.section-partners {
  margin-top: 188px;
  text-align: center;
}
.section-partners > p {
  margin: 0 auto 0 auto;
  display: block;
}
@media screen and (min-width: 432px) {
  .section-partners {
    display: none;
    margin-top: var(--section-margin-top);
  }
}
@media screen and (min-width: 1200px) {
  .section-partners {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: var(--section-margin-top);
  }
}
.subtitle-pricing {
  font-size: 32px;
}
@media screen and (min-width: 430px) {
  .subtitle-pricing {
    font-size: 48px;
    margin-bottom: 58px;
    display: block;
  }
}
.container-semicircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle-partners {
  width: 136px;
  height: 133px;
  top: 73px;

  border-radius: 1054.919px;
  border: 2px solid rgba(255, 255, 255, 0.17);
  position: absolute;

  border-radius: 50%;
}
@media screen and (min-width: 430px) {
  .circle-partners {
    top: 146px;
  }
}

@media screen and (min-width: 768px) {
  .circle-partners {
    width: 242px;
    height: 233px;
    top: 252px;
  }
}

@media screen and (min-width: 1200px) {
  .circle-partners {
    width: 329px;
    height: 319px;
    /* top: 344px; */
    top:402px
  }
}

@media screen and (max-width: 768px) {
  .background-line {
    width: 100%;
  }
}

@media screen and (min-width: 431px) {
  .background-line {
    width: 425px;
  }
}
.background-line {
  width: 100%;
}
.img-gamer {
  top: -54px;
  position: absolute;
  width: 255px;
  height: 190px;
  left: -63px;
}
@media screen and (min-width: 431px) {
  .img-gamer {
    top: -170px;
    width: 511px;
    height: 410px;
    left: -140px;
  }
}
@media screen and (min-width: 1200px) {
  .img-gamer {
    top: -185px;
    width: 672px;
    height: 512px;
    left: -178px;
  }
}
.min-circle-partners {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.list-partner {
  position: relative;
}
.item-partner-svg {
  position: absolute;
  top: 161px;
  left: 23px;
  width: 20px;
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(37, 37, 50, 0.8);
}

.item-partner-svg {
  left: 9px;
  top:55px;
}
.item-partner-svg:nth-child(2) {
  top: -3px;
  left: 30px;
}
.item-partner-svg:nth-child(3) {
  top: -50px;
  left: 71px;
}
.item-partner-svg:nth-child(4) {
  top: -65px;
    left: 132px;
}
.item-partner-svg:nth-child(5) {
  top: -50px;
  left: 191px;
}
.item-partner-svg:nth-child(6) {
  top: 1px;
  left: 239px;
}
.item-partner-svg:nth-child(7) {
  top: 56px;
  left: 254px;
}

@media screen and (min-width: 430px) {
 .item-partner-svg {
  width: 40px;
  height: 40px;
  left: 9px;
  top: 78px;
}
.item-partner-svg:nth-child(2) {
  top: -3px;
  left: 30px;
}
.item-partner-svg:nth-child(3) {
  top: -67px;
  left: 83px;
}
.item-partner-svg:nth-child(4) {
  top: -105px;
  left: 188px;
}
.item-partner-svg:nth-child(5) {
  top: -62px;
  left: 286px;
}
.item-partner-svg:nth-child(6) {
  top: 1px;
  left: 337px;
}
.item-partner-svg:nth-child(7) {
  top: 82px;
  left: 356px;
}

}
@media screen and (min-width: 1200px) {
  /* .item-partner-svg {
    width: 102px;
    height: 102px;
  }
  .item-partner-svg {
    left: 20px;
    top: 168px;
  }
  .item-partner-svg:nth-child(2) {
    top: -24px;
    left: 74px;
  }
  .item-partner-svg:nth-child(3) {
    top: -185px;
    left: 229px;
  }
  .item-partner-svg:nth-child(4) {
    top: -249px;
    left: 466px;
  }
  .item-partner-svg:nth-child(5) {
    top: -195px;
    left: 700px;
  }

  .item-partner-svg:nth-child(6) {
    top: -15px;
    left: 879px;
  }
  .item-partner-svg:nth-child(7) {
    top: 159px;
    left: 930px;
  }
  .svg-partner {
    width: 79px;
    height: 20px;
  } */
  .item-partner-svg {
    width: 102px;
    height: 102px;
  }
  .item-partner-svg {
    left: 32px;
    top: 213px;
  }
  .item-partner-svg:nth-child(2) {
    top: -24px;
    left: 89px;
  }
  .item-partner-svg:nth-child(3) {
    top: -185px;
    left: 229px;
  }
  .item-partner-svg:nth-child(4) {
    top: -277px;
    left: 517px;
  }
  .item-partner-svg:nth-child(5) {
    top: -199px;
    left: 781px;
  }

  .item-partner-svg:nth-child(6) {
    top: 3px;
    left: 987px;
  }
  .item-partner-svg:nth-child(7) {
    top: 205px;
    left: 1037px;
}
  .svg-partner {
    width: 79px;
    height: 20px;
  }
}
