.section-how-started {
  margin-top: 120px;
  text-align: center;
}
.wrap-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub-title {
  font-size: 48px;
  width: 802px;
}
@media screen and (max-width: 430px) {
  .sub-title {
    font-size: 32px;
  }
}
.video {
  margin-top: 38px;
  margin-bottom: 48px;
  width: 1200px;
  height: 522px;
}
@media screen and (max-width: 768px) {
  .video {
    width: 650px;
  }
}
@media screen and (max-width: 430px) {
  .video {
    width: 398px;
    height: 254px;
    border-radius: 5%;
  }
}
.button-getStart {
  padding: 18px 38px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  border: none;
}
