.section-aboutAs {
  margin-top: 200px;
  background-repeat: no-repeat;
background-image: url(../../images/backgroundFoto/gradient_Mobil/gradient_2_mob@1x.png);
 background-size: auto 
}
@media screen and (min-width: 1200px) {
  .section-aboutAs {
    margin-top: var(--section-margin-top);
    background-repeat: no-repeat;
    background-image: url(../../images/backgroundFoto/gradient-Desctop/gradient_2_des@1x.png);
    background-size:auto 581px;
    background-position: top left 10px;
  }
  .section-about-as {
    display: flex;
    align-items: end;
    
  }
}

.wrapper-about {
  position: relative;
  z-index: -8;
  width: 100%;
  height: 359px;
  background-color: var(--card-background);
}
@media screen and (min-width: 430px) {
  .wrapper-about {
    width: 274px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper-about {
    width: 398px;
    height: 496px;
  }
}

.wrpp-video-about-us{
position: relative;

}
.bg-human-home{
top :-128px;
left:0px;
    background-repeat: no-repeat;
    background-image: url(../../images/background-Image/mobil/Image_bg_2mob@1x.png);
    background-size: auto 486px;
    background-position: top left;
    height: 486px;
    position: absolute;
    width: 100%;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .bg-human-home {
    background-image: url(../../images/background-Image/mobil/Image_bg_2mob@2x.png);
      
  }}



  @media screen and (min-width: 768px) {

    .bg-human-home{
      top :-86px;
      left:0px;
          background-repeat: no-repeat;
          background-image: url(../../images/background-Image/des/Image_bg_2des@1x.png);
          background-size: auto 583px;
          background-position: top left;
          height:583px;
          position: absolute;
          width: 495px;
      }
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .bg-human-home {
          background-image: url(../../images/background-Image/des/Image_bg_2des@2x.png);
            
        }}


  }
@media screen and (min-width: 430px) {
  .wrap-aboutAs-video {
    position: absolute;
    top: 291px;
    left: 225px;
    background-color: var(--card-background);
    width: 147px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .wrap-aboutAs-video {
    top: 424px;
    left: 296px;
    width: 196px;
    height: 128px;
    z-index: 2;
  }
}
@media screen and (min-width: 1200px) {
  .wrap-aboutAs-video {
    left: 329px;
  }
}
.article-aboutUs {
  margin-left: 0;
  margin-top: 65px;
  width: auto;
}

.article-aboutUs > p {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .article-aboutUs {
    margin-left: 212px;
  }
}
.section-subtitle {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.16px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    width: 359px;
  }
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    margin-bottom: 12px;
    font-size: 48px;
    width: 562px;
  }
}
.section-text {
  font-size: 16px;
  color: var(--grey-color);
  margin-bottom: 24px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-text {
    width: 403px;
  }
}
@media screen and (min-width: 768px) {
  .section-text {
    color: var(--grey-color);
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 528px;
  }
}
.list-aboutAs {
  width: auto;
}
@media screen and (min-width: 430px) {
  .list-aboutAs {
    width: 403px;
  }
}
@media screen and (min-width: 768px) {
  .list-aboutAs {
    width: auto;
  }
}
.item-aboutAS {
  display: flex;
  margin-bottom: 14px;
}
.item-aboutAS:last-child {
  margin-bottom: 32px;
}

.check-box {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.text-about-as {
  margin-left: 10px;
}
