/* section Virtual Reality */
.section {
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .section {
    margin-top: 0px;
  }
  .section-wrap {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 87px;
    margin-right: 116px;
  }
}

.title {
  font-size: 48px;
  width: 400px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 64px;
    margin-bottom: 10px;
    font-weight: 600;
    width: 540px;
  }
}
.text {
  width: 388px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .text {
    width: 446px;
  }
}

.wrap-list-people {
  margin-top: 33px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 431px) {
  .wrap-list-people {
    margin-top: 81px;
  }
}
.wrap-list-people > p {
  width: 132px;
}
.list-people {
  margin-right: 92px;
  /* position: relative; */
  display: flex;
}
@media screen and (min-width: 1200px) {
  .list-people {
    margin-right: 92px;
    position: static;
    display: flex;
  }
}
.item-second {
  position: absolute;
  top: 0px;
  left: 38px;
}
.item-third {
  position: absolute;
  top: 0px;
  left: 77px;
}
@media screen and (min-width: 768px) {
  .item-second {
    top: 38px;
  }
  .item-third {
    top: 38px;
  }
}

.number-heppe-client {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.info-video {
  position: absolute;
  top: 188px;
  left: -1px;
  margin: 0;
  width: 196px;
  height: 128px;
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .info-video {
    position: static;
    margin-left: 61px;
  }
}

.images-video {
  width: 113px;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .images-video {
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 769px) and (min-width: 340px) {
  .section-thumb-images {
    display: flex;
    justify-content: center;
  }
}

.images {
  margin-top: 71px;
  width: 526px;
  object-fit: contain;
  display: none;
}
@media screen and (min-width: 768px) {
  .images {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .images {
    margin-top: 29px;
  }
}
.images-two {
  width: 243px;
  height: 422px;
  object-fit: contain;
  display: flex;
  margin-left: 173px;
}

@media screen and (min-width: 768px) {
  .images-two {
    display: none;
  }
}

.block-info {
  background-color: var(--card-background);
  width: 398px;
  padding: 36px;
}

@media screen and (min-width: 430px) {
  .block-info {
    background-color: var(--card-background);
    width: 100%;
    padding: 42px 64px 42px 64px;
  }
}

@media screen and (min-width: 1200px) {
  .info-list {
    display: flex;
  }
}
.info-list > li {
  margin-bottom: 50px;
}
.info-list > li:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .info-list > li {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .info-list > li:last-child {
    margin-right: 0px;
  }
}

.info-images {
  width: 70px;
  height: 70px;
}
.info-title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 400;
}
.description {
  color: var(--Greyscale-Grey-1, #b0b0b2);

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.button {
  padding: 18px 38px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  border: none;
}
