.section-four {
  margin-top: var(--section-margin-top-mobil);
}
@media screen and (min-width: 768px) {
  .section-four {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-four {
    margin-top: var(--section-margin-top);
    display: flex;
    position: relative;
    flex-direction: row-reverse;
  }
}
.wrap-section-four {
  width: 398px;
  height: auto;
  margin-top: 120px;
}

@media screen and (min-width: 768px) {
  .wrap-section-four {
    margin-top: 120px;
    width: 549px;
    height: auto;
  }
}
.thumb-section-four {
  margin-left: 0;
  position: relative;
}
@media screen and (min-width: 430px) {
  .thumb-section-four {
    width: auto;
    margin-left: auto;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .thumb-section-four {
    margin-left: 0;
  }
}
.thumb-img {
  top: 140px;
  left: 67px;
  width: 296px;
  height: 369px;
  z-index: -1;
  position: absolute;

  background-color: var(--card-background);
}

@media screen and (min-width: 768px) {
  .thumb-img {
    top: 183px;
    left: 67px;
    width: 398px;
    height: 497px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-img {
    top: 165px;
    left: 94px;

    z-index: -2;
  }
}
.img-background {
  z-index: 1;
  position: absolute;

  top: -70px;
  left: -423px;
}

@media screen and (max-width: 768px) and (min-width: 430px) {
  .img-background {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .img-background {
    top: -70px;
    left: -2px;
  }
}
@media screen and (min-width: 1200px) {
  .img-background {
    left: -100px;
  }
}

.images-in-wrapper {
  position: relative;
  z-index: 2;
  top: 19px;
  width: 418px;
  height: 492px;
}
@media screen and (min-width: 768px) {
  .images-in-wrapper {
    width: 563px;
    height: 662px;
  }
}
@media screen and (min-width: 768px) {
  .images-in-wrapper {
    top: 0;
  }
}
@media screen and (max-width: 430px) {
  .wraper-gif {
    position: relative;
  }
}
.gif-photo {
  position: absolute;

  top: 453px;
  left: 233px;
  z-index: 22;
  width: 169px;
}
@media screen and (min-width: 768px) {
  .gif-photo {
    top: 590px;
    left: 306px;
  }
}

/* form */

.form {
  position: relative;
}
.wrap-section-four > p {
  margin-bottom: 12px;
}
.lable {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.select-box {
  margin-bottom: 48px;
  border-top: 1px solid #d2d2d2;

  background-color: transparent;

  width: 549px;
  height: auto;

  font-size: 20px;
}
.select-box {
  width: 398px;
}
@media screen and (min-width: 768px) {
  .select-box {
    width: auto;
  }
}
.box-text {
  width: 549px;
  font-size: 16px;

  color: var(--grey-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .box-text {
    width: 398px;
  }
}
@media screen and (max-width: 768px) {
  .box-text {
    height: 100%;
  }
}
.button-select {
  margin-left: auto;
  width: 24px;
  height: 24px;
  fill: #fff;

  transform: rotate(-180deg);
}
