.section-partners {
  margin-top: 120px;
  text-align: center;
}
.subtitle-pricing {
  font-size: 48px;
  margin-bottom: 58px;
}
.container-semicircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.semicircle {
  content: "";
  width: 900px;
  height: 900px;
  border-top: 2px solid aliceblue;

  border-radius: 50%;
}
.semicircle2 {
  content: "";
  width: 800px;
  height: 800px;
  border-top: 2px solid aliceblue;
  position: absolute;
  top: 46px;
  left: 200px;
  border-radius: 50%;
}
.semicircle3 {
  content: "";
  width: 700px;
  height: 700px;
  border-top: 2px solid aliceblue;
  position: absolute;
  top: 102px;
  left: 253px;
  border-radius: 50%;
}
.semicircle4 {
  content: "";
  width: 600px;
  height: 600px;
  border-top: 2px solid aliceblue;
  position: absolute;
  top: 154px;
  left: 302px;
  border-radius: 50%;
}
.circle-partners {
  width: 401px;
  height: 402px;
  border: 2px solid aliceblue;
  position: absolute;
  top: 218px;
  left: 400px;
  border-radius: 50%;
  /* overflow: hidden; */
}
.img-gamer {
  top: -72px;
  width: 634px;
  height: 489px;
  position: absolute;
  left: -123px;
}
