.section-how-started{
    margin-top: 120px;
    text-align: center;
  
    
}
.wrap-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title-how-started{
    font-size: 16px;
    background: linear-gradient(to right, #0cbaf1, #e95ce9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    .sub-title{
        font-size: 48px;
        width: 879px;
    }
    .video{
        margin-bottom: 48px;
    }
    .button-getStart{
            padding: 18px 38px;
            background: linear-gradient(to right, #0cbaf1, #e95ce9);
            border: none;
          
    }