/* section Virtual Reality */

.section-wrap {
  display: flex;
}
@media screen and (max-width: 768px) {
  .section-wrap {
    display: inline;
  }
}
.wrapper {
  padding-top: 87px;
  margin-right: 116px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 431px) {
  .wrapper {
    margin: 0;
    width: auto;
  }
}

.title {
  font-size: 64px;
  margin-bottom: 10px;
  font-weight: 600;
}
@media screen and (max-width: 431px) {
  .title {
    font-size: 48px;
    width: 400px;
  }
}
.text {
  width: 446px;
  margin-bottom: 32px;
}
@media screen and (max-width: 431px) {
  .text {
    width: 388px;
  }
}

.wrap-list-people {
  margin-top: 81px;

  display: flex;
  align-items: center;
}
@media screen and (max-width: 431px) {
  .wrap-list-people {
    position: relative;
  }
}

.wrap-list-people > p {
  width: 132px;
}
.list-people {
  margin-right: 92px;
  position: relative;
  display: flex;
}
.item-second {
  position: absolute;
  top: 0;
  left: 38px;
}
.item-third {
  position: absolute;
  top: 0;
  left: 77px;
}

.number-heppe-client {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.info-video {
  margin-left: 61px;
  background-color: var(--card-background);
  width: 196px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 431px) {
  .info-video {
    position: absolute;
    top: 188px;
    left: -1px;
    margin: 0;
  }
}
.images-video {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 430px) {
  .images-video {
    width: 113px;
    height: auto;
  }
}
@media screen and (max-width: 769px) and (min-width: 340px) {
  .section-thumb-images {
    display: flex;
    justify-content: center;
  }
}

.images {
  margin-top: 78px;
  width: 526px;
  object-fit: contain;
  display: block;
}
@media screen and (max-width: 431px) {
  .images {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .images-two {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .images-two {
    display: none;
  }
}
@media screen and (max-width: 431px) {
  .images-two {
    width: 243px;
    height: 422px;
    object-fit: contain;
    display: flex;
    margin-left: 173px;
  }
}

@media screen and (max-width: 340px) {
  .images-two {
    width: 223px;
    height: 396px;

    margin-left: 189px;
  }
}

.block-info {
  background-color: var(--card-background);
  width: 100%;
  padding: 42px 64px 42px 0;
}
@media screen and (max-width: 769px) {
  .block-info {
    display: flex;
    padding: 42px 64px 42px 64px;
  }
}

@media screen and (max-width: 431px) {
  .block-info {
    display: flex;
    padding: 42px 64px 42px 64px;
  }
}
.info-list {
  display: flex;
}
.info-list > li {
  margin-left: 50px;
}
@media screen and (max-width: 769px) {
  .info-list > li {
    margin-left: 0;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 769px) {
  .info-list {
    display: block;
  }
}
.info-images {
  width: 70px;
  height: 70px;
}
.info-title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 400;
}
.description {
  color: var(--Greyscale-Grey-1, #b0b0b2);

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
