.section-pricing {
  margin-top: var(--section-margin-top-mobil);
}
.section-pricing > p {
  margin-bottom: 12px;
}
@media screen and (min-width: 430px) {
  .section-pricing {
    margin-top: var(--section-margin-top);
  }
}

.subtitle-pricing-our {
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .subtitle-pricing-our {
    font-size: 48px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
}
.description-our {
  width: auto;
  margin: 16px 0 47px 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .description-our {
    width: 625px;
    margin-bottom: 40px;
    line-height: 25px;
  }
}
.thumb-pricing {
  /* padding: 22px; */
  margin-bottom: 200px;
  background-color: #25253266;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
}

@media screen and (min-width: 768px) {
  .thumb-pricing {
    display: flex;
    margin-bottom: 0;
    /* padding: 55px; */
  }
}

.article-pricing {
  padding: 22px;
  margin-right: 0;
  margin-bottom: 48px;
}
.article-pricing {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .article-pricing {
    margin-right: 118px;
    /* width: 625px; */
    padding: 55px;
  }
}

.aside-pricing {
  position: relative;
  border-left: 1px solid #ffffff29;
}
@media screen and (max-width: 768px) {
  .aside-pricing {
    border-left: none;
    border-top: 1px solid #ffffff29;
    margin-bottom: 118px;
  }
}
.title-pricing {
  margin-bottom: 12px;
}
.description-pricing-our {
  line-height: 25px;
}

.list-pricing > li {
  margin-bottom: 32px;
}
.list-pricing > li:last-child {
  margin-bottom: 0;
}
.blok-pricing {
  position: absolute;
  top: 15px;
  left: 6px;
  z-index: 5;
  width: 100%;
  height: auto;

  padding: 20px 70px;

  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;

  text-align: center;

  background-color: var(--card-background);
}
@media screen and (min-width: 768px) {
  .blok-pricing {
    top: 435px;
    left: -118px;
    width: 321px;
  }
}
@media screen and (min-width: 1200px) {
  .blok-pricing {
    top: 310px;
    left: -88px;
    width: 321px;
    height: auto;

    padding: 20px 70px;
  }
}

/* 
@media screen and (min-width: 430px) {
  .blok-pricing {
    width: 321px;
    height: 222px;
  }
}

@media screen and (max-width: 768px) {
  .blok-pricing {
    top: 51px;
    left: -36px;
  }
}
@media screen and (max-width: 430px) {
  .blok-pricing {
    left: -9px;
  }
}
@media screen and (min-width: 768px) {
  .blok-pricing {
    left: -451px;
    top: 510px;
  }
}
@media screen and (min-width: 1200px) {
  .blok-pricing {
    top: 378px;
    left: -88px;
  }
} */
.pricing {
  margin-bottom: 12px;
  font-size: 60px;
  color: var(--white-color);
}

.text-blok-pricing {
  font-size: 12px;
}
.button-pricing {
  margin-bottom: 14px;
}
.item-pricing {
  display: flex;
}
.svg-bg {
  position: relative;
  margin-right: 8px;
}
.cloud {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 19px;
  height: 19px;
}
