.section-ourService {
  margin-top: var(--section-margin-top-mobil);
}
@media screen and (min-width: 768px) {
  .section-ourService {
    padding-top: var(--section-margin-top);
  }
}

.thumb-ourService {
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .thumb-ourService {
    display: flex;
  }
}
.part-ourService > p {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .part-ourService {
    margin-right: 66px;
  }
}
@media screen and (min-width: 1200px) {
  .part-ourService {
    margin-right: 274px;
  }
}
.subtitle-ourService {
  font-size: 32px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .subtitle-ourService {
    font-size: 48px;
    margin: 0;
    width: 265px;
  }
}
.description-ourService {
  width: auto;

  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

@media screen and (min-width: 1200px) {
  .description-ourService {
    width: 625px;
    color: var(--grey-color);

    margin-left: 20px;
  }
}

.text-ourService {
  color: var(--grey-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .list-ourService {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .list-ourService {
    box-sizing: border-box;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 30px; */
    gap: 19px;
  }
}

.item-ourService {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
  background-color: var(--card-background);
  width: 100%;
  padding: 38px 56px 25px 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .item-ourService {
    height: 271px;
    width: 340px;
    padding: 20px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .item-ourService {
    height: auto;
    width: 379px;
    padding: 38px 56px 25px 32px;
  }
}
.item-ourService:hover {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    var(--border-color-gradient-blue),
    var(--border-color-gradient-pink)
  );
  border-image-slice: 1;
}
@media screen and (min-width: 1200px) {
  .item-ourService:nth-child(1) {
    margin-top: 63px;
  }
  .item-ourService:nth-child(2) {
    margin-top: 118px;
  }

  .item-ourService:nth-child(3) {
    /* margin-top: 187px; */
    margin-top: 209px;
  }
  .item-ourService:nth-child(4) {
    margin-top: -179px;
  }
  .item-ourService:nth-child(5) {
    margin-top: -98px;
  }
}

.png-ourService {
  width: 48px;
  height: 48px;
  margin-bottom: 60px;
}
.subhead-ourService {
  margin-bottom: 12px;

  color: var(--wight-color);

  font-size: 20px;
  font-weight: 400;
}

.button-overlay {
  padding: 18px 38px;
  background: rgba(255, 255, 255, 0.06);
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
    to right,
    var(--border-color-gradient-blue),
    var(--border-color-gradient-pink)
  );
  border-image-slice: 1;
  margin-bottom: 12px;
}

.box {
  position: relative;

  overflow: hidden;
}
@media screen and (max-width: 768px) and (min-width: 430px) {
  .box {
    width: 303px;
  }
}
.overlay {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(37, 37, 50, 0) 0%,
    rgba(37, 37, 50, 0.91) 53.06%,
    #252532 100%
  );
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.box:hover .overlay {
  transform: translatey(0);
}

@media screen and (min-width: 1200px) {
  .gradint-ourService {
    background-repeat: no-repeat;
    background-image: url(../../images/backgroundFoto/gradient-Desctop/gradient_3_des@1x.png);
    background-size: auto 456px;
    background-position: top 1px right;
    position: relative;
    width: 100%;
  }
}
