.section-four {
  margin-top: 200px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .section-four {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
}
@media screen and (min-width: 1200px) {
  .section-four {
    margin-top:200px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between
  }
}
.wrap-section-four {
  width: auto;
  height: auto;
  margin-top: 120px;
}
.wrap-section-four>h3{
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .wrap-section-four {
    margin-top: 0;
    
  }
}
@media screen and (min-width: 768px) {
  .wrap-section-four {
    width: 549px;
    height: auto;
  }
}


.thumb-section-four {
  position: relative;
  

}

.gradient-backgrouned{
 
 background-image: url(../../images/backgroundFoto/gradient_Mobil/gradient_4_mob@1x.png);
 background-repeat: no-repeat;
 background-position: top -75px left;
  background-size: auto;
 /*background-position: center; */
}
@media screen and (min-width: 768px) {
  .gradient-backgrouned{
 
    background-image: url(../../images/backgroundFoto/gradient-Desctop/gradient_6_des@1x.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 500px;
   }
}
.thumb-img {
  /* top: 140px;
  left: 67px; */
  position: relative;
  z-index: -8;
  width: 100%;
  height: 369px;
  /* z-index: -1;
  position: absolute; */

  background-color: var(--card-background);
}

@media screen and (min-width: 429px) {
  .thumb-img {
    /* margin-left:41px; */
    width: 296px;
    height: 369px;
  }
}
@media screen and (min-width: 768px) {
  .thumb-img {
    /* top: 183px;
    left: 67px; */
    width: 398px;
    height: 497px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-img {
    /* top: 165px;
    left: 94px;

    z-index: -2; */
    /* margin-left: 150px; */
  }
}

.backgroun-photo{
  position: absolute;
  top: -84px;
  left: 0;
    z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url(../../images/background-Image/mobil/Image_bg_3mob@1x.png);
  background-size:  auto 453px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 430px) {
  .backgroun-photo{
    top: -84px;
    left: 0;
    background-image: url(../../images/background-Image/mobil/Image_bg_3mob@1x.png);
    background-size:  auto 453px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .backgroun-photo{
      
        background-image: url(../../images/background-Image/mobil/Image_bg_3mob@2x.png);
       
      }
  }
}


@media screen and (min-width: 768px) {
  .backgroun-photo{

    position: absolute;
    z-index: 5;
    top: -164px;
    left: 151px;
    height: 659px;
    background-repeat: no-repeat;
    background-image: url(../../images/background-Image/des/Image_bg_3des@1x.png);
    background-size: 563px 662px;
    width: 563px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .backgroun-photo{
      
        background-image: url(../../images/background-Image/des/Image_bg_3des@2x.png);
       
      }
  }
}
@media screen and (min-width:1200px) {
  .backgroun-photo{

    position: absolute;
    z-index: 5;
    top: -164px;
    /* left: 625px; */
    left: 700px;

    height: 659px;
  }
}

.img-background{
  position: relative;


  background-repeat: no-repeat;
  background-size: auto ;

  top:-1045px;
    height: 655px;
  background-image: url(../../images/backgroundFoto/gradient_Mobil/gradient_4_mob@1x.png);
}
@media screen and (min-width: 768px) {
.img-background{

  background-image: none}}
/* .img-background {
  z-index: 1;
  position: absolute;

  top: -70px;
  left: -423px;
}

@media screen and (max-width: 768px) and (min-width: 430px) {
  .img-background {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .img-background {
    top: -70px;
    left: -2px;
  }
}
@media screen and (min-width: 1200px) {
  .img-background {
    left: -100px;
  }
} */

/* .images-in-wrapper {
  position: relative;
  z-index: 2;
  top: 19px;
  width: 418px;
  height: 492px;
}
@media screen and (min-width: 768px) {
  .images-in-wrapper {
    width: 563px;
    height: 662px;
  }
}
@media screen and (min-width: 768px) {
  .images-in-wrapper {
    top: 0;
  }
} */
@media screen and (max-width: 430px) {
  .wraper-gif {
    position: relative;
  }
}




.gif-photo {
  position: absolute;

  /* top: 453px;
  left: 233px; */

  z-index: 22;
  width: 169px;


    top: 320px;
    left: 129px;
}
@media screen and (min-width:430px) {
  .gif-photo {
    top: 320px;
    left: 223px;
  }
}
@media screen and (min-width: 768px) {
  .gif-photo {
    /* top: 446px;
    left: 306px; */
    top: 428px;
    left: 242px

  }
}

/* form */

.form {
  position: relative;
}
.wrap-section-four > p {
  margin-bottom: 12px;
}
.lable {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.select-box {
  margin-bottom: 48px;
  border-top: 1px solid #d2d2d2;

  background-color: transparent;

  width: 549px;
  height: auto;

  font-size: 20px;
}
.select-box {
  width: auto;
}
@media screen and (min-width: 768px) {
  .select-box {
    width: auto;
  }
}
.box-text {
  width: 100%;
  font-size: 16px;

  color: var(--grey-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .box-text {
    width: 549px;
  }
}
@media screen and (max-width: 768px) {
  .box-text {
    height: 100%;
  }
}
.button-select {
  margin-left: auto;
  width: 24px;
  height: 24px;
  fill: #fff;

  transform: rotate(-180deg);
}
.gradient-why-chose{
  background-repeat: no-repeat;
  background-image: url(../../images/backgroundFoto/gradient-Desctop/gradient_8_des@1x.png);
  background-size: auto ;
  background-position: top -30px right -70px;
 
}