.section-pricing {
  margin-top: 120px;
}

.subtitle-pricing-our {
  font-size: 48px;
  margin-top: 12px;
  margin-bottom: 16px;
}

@media screen and (max-width: 430px) {
  .subtitle-pricing-our {
    font-size: 32px;
  }
}
.description-our {
  width: 625px;
  margin-bottom: 40px;
  line-height: 25px;
}
@media screen and (max-width: 430px) {
  .description-our {
    width: 410px;
  }
}
.thumb-pricing {
  padding: 55px;
  display: flex;

  background-color: #25253266;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
}

@media screen and (max-width: 768px) {
  .thumb-pricing {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .thumb-pricing {
    padding: 22px;
  }
}
.article-pricing {
  margin-right: 118px;
  width: 625px;
}
@media screen and (max-width: 768px) {
  .article-pricing {
    margin-right: 0;
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 430px) {
  .article-pricing {
    width: 328px;
  }
}
.aside-pricing {
  position: relative;
  border-left: 1px solid #ffffff29;
}
@media screen and (max-width: 768px) {
  .aside-pricing {
    border-left: none;
    border-bottom: 1px solid #ffffff29;
    margin-bottom: 118px;
  }
}
.title-pricing {
  margin-bottom: 12px;
}
.description-pricing-our {
  line-height: 25px;
}

.list-pricing > li {
  margin-bottom: 32px;
}
.list-pricing > li:last-child {
  margin-bottom: 0;
}

.blok-pricing {
  position: absolute;
  top: 310px;
  left: -88px;

  width: 321px;
  height: 222px;

  padding: 20px 70px;

  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;

  text-align: center;

  background-color: var(--card-background);
}
@media screen and (max-width: 768px) {
  .blok-pricing {
    top: 51px;
    left: -36px;
  }
}
@media screen and (max-width: 430px) {
  .blok-pricing {
    left: -9px;
  }
}
.pricing {
  margin-bottom: 12px;
  font-size: 60px;
  color: var(--white-color);
}

.text-blok-pricing {
  font-size: 12px;
}
.button-pricing {
  margin-bottom: 14px;
}
.item-pricing {
  display: flex;
}
.svg-bg {
  position: relative;
  margin-right: 8px;
}
.cloud {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 19px;
  height: 19px;
}
