/* section Virtual Reality */
.section {
  margin-top: -40px;
}

#bg {
  position: absolute;
  top: 380px;
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  #bg {
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    margin-top: -164px;
  }
  .section-wrap {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 87px;

    margin-right: 106px;
  }
}
img {
  display: block;
}

.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.24px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 64px;
    margin-bottom: 10px;
    width: 540px;
    line-height: normal;
  }
}
.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 32px;
}
@media screen and (min-width: 430px) {
  .text {
    width: 388px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    width: 446px;
  }
}

.wrap-list-people {
  margin-top: 33px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 431px) {
  .wrap-list-people {
    margin-top: 31px;
  }
}
.wrap-list-people > p {
  width: 132px;
}
.list-people {
  margin-right: 92px;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .list-people {
    margin-right: 92px;
    position: static;
    display: flex;
  }
}
.item-second {
  position: absolute;
  left: 38px;
}
.item-third {
  position: absolute;
  left: 77px;
}
@media screen and (min-width: 430px) {
  .item-second {
    position: absolute;
    top: 0px;
  }
  .item-third {
    position: absolute;
    top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .item-second {
    top: 38px;
  }
  .item-third {
    top: 38px;
  }
}

.number-heppe-client {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.info-video {
  position: absolute;
  top: 209px;
  left: -1px;
  margin: 0;
  width: 131px;
  height: 121px;
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 430px) {
  .info-video {
    top: 198px;
    left: 4px;
    margin: 0;
    width: 196px;
    height: 128px;
  }
}

@media screen and (min-width: 768px) {
  .info-video {
    position: static;
    margin-left: 61px;
  }
}
.images-video {
  width: 190px;
  height: 100%;
}
@media screen and (min-width: 430px) {
  .images-video {
    width: 113px;
    height: auto;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .images-video {
    width: 150px;
    height: auto;
  }
}
.section-thumb-images {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 16px;
  background-image: url(../../images/backgroundFoto/gradient_Mobil/gradient_1_mob@1x.png);
  background-size: auto;
  background-repeat: no-repeat;
}
@media screen and (min-width: 435px) {
  .section-thumb-images {
    background-image: none;
  }
}

@media screen and (min-width: 1199px) {
  .section-thumb-images {
    width: 100%;
    position: static;
  }
}
.block-info {
  background-color: var(--card-background);
  width: 100%;
  padding: 36px;
}

@media screen and (min-width: 430px) {
  .block-info {
    padding: 42px 64px 42px 64px;
  }
}
@media screen and (min-width: 430px) {
  .block-info {
    padding: 42px 64px 42px 64px;
  }
}

@media screen and (min-width: 1200px) {
  .info-list {
    display: flex;
  }
}
.info-list > li {
  margin-bottom: 50px;
}
.info-list > li:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .info-list > li {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .info-list > li:last-child {
    margin-right: 0px;
  }
}

.info-images {
  width: 70px;
  height: 70px;
  margin-bottom: 32px;
}
.info-title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 400;
}
.description {
  color: var(--Greyscale-Grey-1, #b0b0b2);

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.button {
  padding: 18px 38px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  border: none;
}
@media screen and (min-width: 1200px) {
  .gradient-virtual-reality {
    background-repeat: no-repeat;
    background-image: url(../../images/backgroundFoto/gradient-Desctop/gradient_1_des@1x.png);
    background-size: auto;
    background-position: top right;
  }
}
