.section-thour {
  margin-top: 120px;
  display: flex;
  position: relative;
}
.wrap-section-thour {
  margin-top: 120px;
  width: 549px;
  height: auto;
}
.thumb-section-thour {
  width: 563px;
  margin-left: 100px;
}
.section-descriptions {
  position: relative;
  font-size: 16px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.thumb-img {
  z-index: -1;
  position: absolute;
  top: 165px;
  left: 736px;
  width: 398px;
  height: 497px;
  background-color: var(--card-background);
}
.img-background {
  z-index: 2;
  position: absolute;
  top: 70px;
  left: 520px;
}

.wraper-gif {
  position: relative;
}
.gif-photo {
  position: absolute;
  top: 590px;
  left: 995px;
  width: 169px;
}
/* form */

.form {
  margin-bottom: 100px;
  position: relative;
}

.lable {
  /* position: absolute;
  top: 0px;
  left: 0; */
}
.lable-second {
  /* position: absolute;
  top: 112px;
  left: 0; */
}
.lable-third {
  /* position: absolute;
  top: 183px;
  left: 0; */
}
.select-box {
  margin-top: 12px;
  margin-bottom: 48px;
  border-top: 1px solid #d2d2d2;

  background-color: transparent;

  width: 549px;
  height: auto;

  font-size: 20px;
}
.box-text {
  width: 549px;
  height: 90px;
  font-size: 16px;
  line-height: 20px;
}
.button-select {
  margin-left: 290px;
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #fff;

  transform: rotate(-180deg);
}
