.section-pricing {
  margin-top: 120px;
}

.subtitle-pricing {
  font-size: 48px;
  margin-top: 12px;
  margin-bottom: 16px;
}
.decription {
  width: 625px;
  margin-bottom: 40px;
  line-height: 25px;
}
.thumb-pricing {
  padding: 55px;
  display: flex;

  background-color: #25253266;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
}
.article-pricing {
  margin-right: 118px;
  width: 625px;
}
.aside-pricing {
  position: relative;
  border-left: 1px solid #ffffff29;
}
.title-pricing {
  margin-bottom: 12px;
}
.decription-pricing {
  line-height: 25px;
}

.list-pricing > li {
  margin-bottom: 32px;
}
.list-pricing > li:last-child {
  margin-bottom: 0;
}

.blok-pricing {
  position: absolute;
  top: 310px;
  left: -88px;

  width: 321px;
  height: 222px;

  padding: 20px 70px;

  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;

  text-align: center;

  background-color: var(--card-background);
}
.pricing {
  margin-bottom: 12px;
  font-size: 60px;
  color: var(--white-color);
}

.text-blok-pricing {
  font-size: 12px;
}
.button-pricing {
  margin-bottom: 14px;
}
.item-pricing {
  display: flex;
}
.svg-bg {
  position: relative;
  margin-right: 8px;
}
.cloud {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 19px;
  height: 19px;
}
