.section-how-started {
  margin-top: 120px;
  text-align: center;
}
.wrap-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub-title {
  font-size: 48px;
  width: 879px;
}
.video {
  margin-top: 38px;
  margin-bottom: 48px;
}
.button-getStart {
  padding: 18px 38px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  border: none;
}
