.section-thour {
    margin-top: 120px;
  display: flex;
  position: relative;
}
.wrap-section-thour {
    margin-top: 120px;
  width: 549px;
  height: auto;
}
.thumb-section-thour {
  width: 563px;
  margin-left: 100px;
}
.section-descriptions {
    position: relative;
  font-size: 16px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.thumb-img {
    z-index: -1;
    position: absolute;
    top: 157px;
    left: 736px;
  width: 398px;
  height: 497px;
  background-color: var(--card-background);
}
.img-background{
    z-index: 2;
    position: absolute;
    top: 70px;
    left: 520px;  
}
.form{
    position: relative;

}
.lable{
    position: absolute;
    top: 40px;
    left: 0;
}
.lable-second{
    position: absolute;
    top: 119px;
    left: 0;  
}
.lable-third{
    position: absolute;
    top: 200px;
    left: 0;  
}
.select-box{
   margin-top: 48px;
    border-top: none;
    border-right:none ;
    border-left: none;
   background-color: transparent;
   outline: none;
  width:  549px;
  appearance: #fff;
  font-size: 20px;
}