.section-blog-card {
  margin-top: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-blogs {
  display: grid;
  grid-template-columns: repeat(1, 379px);
  gap: 32px;
}

/* від 500рх -...... */
@media screen and (min-width: 500px) {
  .list-blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* від  0 - 500рх. */
/* @media screen and (max-width: 500px) {
  .list-blogs {
    grid-template-columns: repeat(2, 1fr);
  }
} */
@media screen and (min-width: 1200px) {
  .list-blogs {
    grid-template-columns: repeat(3, 379px);
  }
}

.article-card-blog {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
  display: flex;
  flex-wrap: wrap;
}
.article-card-blog:hover {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
}
.photo-blog {
  width: 100%;
}
.wrapper-card-blog {
  background-color: var(--card-background);

  padding: 16px 24px 32px;
}
.title-blog {
  color: var(--wight-color);
  background-color: var(--grey-color);
  margin-bottom: 12px;
  border-radius: 15px;
  padding: 2px 10px;
  width: fit-content;
}
.short-info {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.link-readMore {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;

  position: relative;
}

.link-readMore::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  display: block;
  background-image: linear-gradient(to right, #0cbaf1, #e95ce9);
}
/* pagination */
.pagination-wrapper {
  margin-top: 20px;
}
.pagination-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .pagination-list {
    display: flex;
  }
}

.pagination-item {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  width: 34px;
  padding: 8px 0px;
}
.button-active {
  background-image: linear-gradient(to right, #0cbaf1, #e95ce9);
}
.pagination-is-hidden {
  display: none;
}
