.section-detail-rout{
  margin-top: -107px;
}
.bg-details{
  top:52px
}
@media screen and (min-width: 1200px) {
  .section-detail-info {
    display: flex;
  }
  .bg-title{
   display: none;
  }
}
.detail-rout {
  display: flex;
  align-items: center;
  margin: 28px auto 52px auto;
}
.span-keep {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .span-keep {
    overflow: visible;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-detail-blog {
    width: 789px;
  }
  .wrap-blog-info {
    display: flex;
  }
}

.title-blog-detail {
  color: var(--wight-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.2px;
}
@media screen and (min-width: 1200px) {
  .title-blog-detail {
    font-size: 40px;
  }
}

.time {
  margin: 12px 0 24px 0;
}
.photo-blog-detail {
  width: 100%;
}

.short-info-detail {
  color: var(--grey-color);

  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 24px;
}
@media screen and (min-width: 430px) {
  .thumb-detail-blog-img {
    margin-bottom: 80px;
    display: flex;
  }
}
.imgSecond {
  width: 190px;
  margin-bottom: 15px;
}
.imgThird {
  width: 190px;
}
@media screen and (min-width: 430px) {
  .imgSecond {
    width: 190px;
    margin-bottom: 0;
  }
  .imgThird {
    width: 190px;
    margin-left: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .imgThird {
    width: 375px;
  }
  .imgSecond {
    width: 375px;
  }
}

.post-tag {
  color: var(--wight-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}
.tags {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 17px;
}
.title-blog {
  background: rgba(255, 255, 255, 0.3);
}
.social-media-list {
  display: flex;
}
