.section-faq {
  text-align: center;
  margin-top: 180px;
  /* margin-top:-500px; */
  position: relative;
}
/* .basic-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.24px;
} */
/* .description-uses {
  width: 612px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  display: flex;
  margin: 24px auto 0 auto;
} */
.button-filtr {
  background: rgba(255, 255, 255, 0.06);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  padding: 12px 24px;
}
