.section-faq {
  text-align: center;
  margin-top: 180px;
  position: relative;
}

.button-filtr {
  background: rgba(255, 255, 255, 0.06);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  padding: 12px 24px;
}
