.section-service {
  margin-top:var(--section-margin-top-mobil);
  overflow: hidden;
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 1200px) {
  .section-service {
    margin-top: var(--margin-section-top);
    overflow: visible;
  }
}
.wrapper-service {
  margin-top: var(--section-margin-top-mobil);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #343445 0%,
    rgba(32, 32, 41, 0) 100%
  );

  padding: 60px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .wrapper-service {
    margin-top: var(--margin-section-top);
    
  }
}
.info-list-service {
  text-align: center;
}
.info-list-service > li {
  margin-bottom: 36px;
}
.info-list-service > li:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 431px) {
  .info-list-service {
        display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.info-number {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.24px;
  color: var(--white-color);
}

.wrapper-testimonial {
  margin-top: 300px;
}

.aside-pricing-service {
  height: 400px;
  border-left: none;

  border-top: 1px solid #ffffff29;
  position: relative;

  background-image: url(../../images/backgroundFoto/photo-human-Mobil/Image_mob3@1x.png);
  background-repeat: no-repeat;
  background-size: auto 370px;
  background-position: bottom right;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .aside-pricing-service {
    background-image: url(../../images/backgroundFoto/photo-human-Mobil/Image_mob3@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .aside-pricing-service {
    width: 500px;
    height: auto;
    border-left: 1px solid #ffffff29;
    background-image: url(../../images/backgroundFoto/photo-human-Desctop/Image_dec2@1x.png);
    background-size: auto 520px;
    background-position: bottom right;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .aside-pricing-service {
      background-size: auto 520px;
      background-position: bottom right;
      background-image: url(../../images/backgroundFoto/photo-human-Desctop/Image-dec2@2x.png);
    }
  }
}
.blok-pricing-service {
  position: absolute;
  left: 17px;
  top: 260px;
  z-index: 5;
  width: 255px;
  height: 250px;
  padding: 20px 70px;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  text-align: center;
  background-color: var(--card-background);
}
@media screen and (min-width: 430px) {
  .blok-pricing-service {
    left: 15px;
    top: 310px;

    width: 321px;
    height: 222px;
  }
}
@media screen and (min-width: 768px) {
  .blok-pricing-service {
    /* left: -92px;
    top: 398px; */
    left: -312px;
    top: 566px;
  }
}
@media screen and (min-width: 1200px) {
  .blok-pricing-service {
    left: -84px;
    top: 440px;

    padding: 20px 70px;
  }
}
