.section-service {
  margin-top: 150px;
}
.wrapper-service {
  margin-top: 150px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #343445 0%,
    rgba(32, 32, 41, 0) 100%
  );

  padding: 60px 0 60px 0;
}
.info-list-service {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 430px) {
  .info-list-service {
    display: block;
    text-align: center;
  }
  .info-list-service > li {
    margin-bottom: 36px;
  }
  .info-list-service > li:last-child {
    margin-bottom: 0px;
  }
}
.info-number {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.24px;
  color: var(--white-color);
}

.wrapper-testimonial {
  margin-top: 300px;
}

.img-out-pricing {
  width: 256px;
  height: 370px;
  position: absolute;
  top: 84px;
  left: 423px;
}
@media screen and (min-width: 430px) {
  .img-out-pricing {
    top: 49px;
    left: 170px;
  }
}
@media screen and (min-width: 768px) {
  .img-out-pricing {
    display: none;
    top: 162px;
    left: 116px;
  }
}
.aside-pricing-service {
  position: relative;
  border-left: 1px solid #ffffff29;
}
.blok-pricing-service {
  position: absolute;
  top: 310px;
  left: 220px;
  z-index: 5;
  width: 321px;
  height: 222px;
  padding: 20px 70px;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  text-align: center;
  background-color: var(--card-background);
}
@media screen and (min-width: 430px) {
  .blok-pricing-service {
    left: 3px;
  }
}
@media screen and (min-width: 768px) {
  .blok-pricing-service {
    left: -92px;
    top: 398px;
  }
}
@media screen and (max-width: 768px) {
  .aside-pricing-service {
    border-left: none;
    border-top: 1px solid #ffffff29;
    height: 400px;
  }
}

@media screen and (max-width: 430px) {
  .img-out-pricing {
    top: 52px;
    left: 121px;
  }
  .blok-pricing-service {
    top: 302px;
    left: -4px;
  }
}
