.section-service {
  margin-top: 80px;
  position: relative;
}
.wrap-info-service {
  position: absolute;
  top: 306px;
  left: 476px;
  text-align: center;
}

.list-service {
  position: relative;
}
.item-info-service {
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-color: var(--card-background);
  width: 102px;
  height: 102px;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: 479px;
  left: -46px;
}
.item-info-service:nth-child(2) {
  position: absolute;
  top: 236px;
  left: 6px;
}
.item-info-service:nth-child(3) {
  position: absolute;

  top: 30px;
  left: 178px;
}

.item-info-service:nth-child(4) {
  position: absolute;
  top: -47px;
  left: 458px;
}
.item-info-service:nth-child(5) {
  position: absolute;
  top: 7px;
  left: 721px;
}
.item-info-service:nth-child(6) {
  position: absolute;
  top: 223px;
  left: 935px;
}
.item-info-service:nth-child(7) {
  position: absolute;
  top: 478px;
  left: 1011px;
}

/* ccs info-div */
.item-info-service:nth-child(1) > .cir-div {
  position: absolute;
  top: -168px;
  left: 258px;
}

.item-info-service:nth-child(2) > .cir-div {
  position: absolute;
  top: 75px;
  left: 206px;
}

.item-info-service:nth-child(3) > .cir-div {
  position: absolute;
  top: 281px;
  left: 34px;
}
.item-info-service:nth-child(4) > .cir-div {
  position: absolute;
  top: 358px;
  left: -246px;
}
.item-info-service:nth-child(5) > .cir-div {
  position: absolute;
  top: 304px;
  left: -509px;
}
.item-info-service:nth-child(6) > .cir-div {
  position: absolute;
  top: 87px;
  left: -723px;
}

.item-info-service:nth-child(7) > .cir-div {
  position: absolute;
  top: -168px;
  left: -799px;
}

.active-item {
  background-image: url(../../images/Bg.png);
  border: none;
  background-repeat: no-repeat;
  background-size: 101px 100px;
}
.cir-text {
  display: flex;

  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cir-text {
    display: flex;

    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 625px;
  }
}

.cir-text > p {
  text-align: start;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.list-box {
  width: 431px;
  padding: 30px 32px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
  background-color: var(--card-background);
  text-align: start;
  margin: 54px 0 32px 0;
}
.list-box > li {
  display: flex;
  margin: 0 0 20px 0;
}

.list-box > li:last-child {
  margin-bottom: 0;
}

.text-description {
  margin-left: 12px;
}
.information-text {
  margin-bottom: 20px;
}
.decription-list-box {
  margin-bottom: 20px;
}

.wrapper-button-contact {
  margin-top: 32px;
}
.container-button {
  position: absolute;
  width: 93px;
  top: 118px;
  left: 461px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.svg-move {
  width: 20px;
  height: 20px;
}
