.section-tems-condition {
  text-align: center;
  margin-top: 150px;
}

.section-wrapper-rout {
}
.text-condititon {
  width: 623px;
  display: flex;
  margin: 24px auto 48px auto;
}
.condition-info {
  display: flex;
  justify-content: center;
}
.item-condition-list {
  margin-bottom: 32px;
  width: 788px;
  text-align: start;
}
.item-condition-list:last-child {
  margin-bottom: 0;
}
.list-condition {
  list-style: disc;
  margin-left: 24px;
}
.title-condition {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.description-condition {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
