.section-info {
  margin-top: 150px;
}
.wrapper-title {
  display: flex;

  flex-direction: column;

  text-align: center;
  align-items: center;
}

.section-four-abut-us {
  margin-left: 0;
  margin-top: 151px;
}
@media screen and (min-width: 1200px) {
  .section-four_aboutAs {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}

.wrapper-thumb {
  top: 165px;
  left: 71px;
  z-index: -1;
  width: 398px;
  height: 497px;
  background-color: var(--card-background);
}

@media screen and (max-width: 768px) {
  .wrapper-thumb {
    top: 79px;
  }
}
@media screen and (max-width: 430px) {
  .wrapper-thumb {
    top: 124px;
    width: 325px;
    height: 405px;
  }
}

.img-background-as {
  position: absolute;
  left: -472px;
  top: -131px;
}

@media screen and (min-width: 1200px) {
  .img-background-as {
    left: -149px;
  }
}

.video-gif {
  top: 351px;
  left: 214px;
}

@media screen and (min-width: 430px) {
  .video-gif {
    top: 444px;
    left: 302px;
  }
}
.picture {
  top: -62px;
  left: 7px;
  width: 407px;
  height: 467px;
  position: absolute;
}

@media screen and (min-width: 430px) {
  .picture {
    top: -80px;
    left: -4px;
  }
}
