.form-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 74px;
  margin-top: 150px;
  background-image: linear-gradient(to right, #0cbaf1, #e95ce9);
}
@media screen and (max-width: 768px) {
  .form-subscribe {
    display: block;
    padding: 31px 13px;
  }
}
