.section-faq {
  margin-top: 120px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-faq {
    margin-top: 100px;
    text-align: center;
  }
}

.subtitle-pricing-fag {
  font-size: 48px;
  margin-bottom: 58px;
  display: block;
}
@media screen and (max-width: 768px) {
  .subtitle-pricing-fag {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.description-section-faq {
  width: 764px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  display: flex;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .description-section-faq {
    width: 100%;

    text-align: center;
  }
}
.item-question {
  width: 790px;
  padding: 24px;
  background-color: var(--card-background);

  margin-top: 24px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
}

@media screen and (max-width: 768px) {
  .item-question {
    width: 100%;
    padding: 29px 14px;
  }
}
.wrapper-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.svg-question {
  width: 12px;
  height: 12px;
  fill: var(--white-color);
  transform: rotate(180deg);
}
.list-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  border-top: 1px solid #b0b0b2;
  padding-top: 12px;
  margin-top: 12px;
  text-align: start;
}
.answer > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
