:root {
  --ff-text: "Chakra Petch", sans-serif;
  --body-color: #18181b;
  --white-color: #ffffff;
  --grey-color: #d1d1d1;
  --card-background: #252532;
  --circle-background: #333751;
}

body {
  font-family: var(--ff-text);
  background-color: var(--body-color);
  color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--ff-text);
}
button {
  font-family: var(--ff-text);
  cursor: pointer;
  margin: 0;
  color: (var(--white-color));
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: var(--grey-color);
}
.span-background {
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}
