.section-form {
  margin-top: 150px;
  display: flex;
  justify-content: flex-end;
}
.tumb-form {
  width: 645px;
}

.paragraf {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.form-contact {
  /* display: flex;
  flex-wrap: wrap; */
}
.input-label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input-info {
  width: 306px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
  background-color: var(--card-background);
  margin: 0 24px 24px 0;
  outline: none;
  padding: 11px 15px;
}
.input-info::placeholder {
  font-family: Chakra Petch;
  font-weight: 300;
  font-size: 16px;
  color: var(--white-color);
}

.textares {
  padding: 11px 15px;
  width: 645px;
  height: 137px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #b0b0b2, #25253299);
  border-image-slice: 1;
  background-color: var(--card-background);
  margin-bottom: 32px;
  resize: none;
}

.textares::placeholder {
  font-family: Chakra Petch;
  font-weight: 300;
  font-size: 16px;
  color: var(--white-color);
}
.button-send {
  padding: 18px 38px;
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  border: none;
}

/* .wrapp-circle-socialMedia {
  position: relative;
  z-index: -5;
} */

.circles {
  border: 1px solid #b0b0b2;
  border-radius: 50%;

  width: 686px;
  height: 686px;

  position: relative;
  z-index: -5;
  left: 57px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-two {
  border: 1px solid #b0b0b2;
  border-radius: 50%;
  width: 564px;
  height: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-background {
  width: 452px;
  height: 452px;
  border: 1px solid #b0b0b2;
  border-radius: 50%;
  background-color: var(--circle-background);
}
.img-socialMedia {
  position: absolute;
  top: -156px;
  left: -71px;
  width: 876px;
  height: 907px;
}

.svg-socialmedia {
  width: 46px;
  height: 46px;
  position: absolute;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.location:nth-child(1) {
  top: 657px;
  left: 269px;
}

.location:nth-child(2) {
  top: 512px;
  left: 43px;
}

.location:nth-child(3) {
  top: 90px;
  left: 50px;
}
.circle-two .location {
  top: 576px;
  left: 426px;
}
